@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{
  background: linear-gradient(to right, #145ca8, #583cab);
}
.btn{
  background-color: #0f529a;
  border: 2.5px solid;
  border-image: linear-gradient(to right, rgb(171, 116, 238), #5eb3e8);
  border-image-slice: 1;
  @apply h-fit px-4 py-2
}