@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{
  background: linear-gradient(to right, #115ea8, #593cab);
}
.btn{
  border: 2.5px solid;
  border-image: linear-gradient(to right, rgb(171, 116, 238), #5eb3e8);
  border-image-slice: 1;
  @apply bg-[#0f529a] hover:bg-[#0d3d71] h-fit w-fit px-4 py-2
}
input{
  @apply w-full border border-white rounded-md p-2 bg-transparent text-white focus:ring-0 focus:outline-none
}